$color-primary: #3498db;
$color-primary-light: #d6eeff;
$color-primary-superlight: #f3faff;
$color-primary-dark: #21618c;

$color-secondary: #185192;
$color-secondary-light: #58d68d;
$color-secondary-dark: #1e8449;

$color-white: #ffffff;
$color-black: #000000;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-cus: #494949;
