@use '../abstracts/variables' as *;

body {
  background-color: $color-primary;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

.layout {
  display: flex;
  .content {
    padding: 40px;
  }
}

ul {
  list-style: none;
  padding: 0;
}
