@use '../abstracts/variables' as *;

button {
  width: 100%;
  background: $color-secondary;
  font-family: 'Poppins', sans-serif;
  height: 38px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  &.login-btn {
    margin-top: 4px;
  }
  &.btn-logout {
    background: rgb(225, 6, 6);
    position: absolute;
    bottom: 15px;
    width: 280px;
  }
}
