@use '../abstracts/variables' as *;

button {
  width: 100%;
  background: $color-secondary;
  font-family: 'Poppins', sans-serif;
  height: 38px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}
