@use '../abstracts/variables' as *;

.custom-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  thead {
    width: 10% !important;

    th[data-v-32683533] {
      background-color: $color-primary-superlight !important;
      font-weight: 600;
      padding: 0 !important;
      width: 10px !important;
      text-align: center;
      .header {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        text-align: center;
      }
    }
  }
  tbody {
    td[data-v-32683533] {
      padding: 0;
      text-align: center;
    }
  }
}
