@use '../abstracts/variables' as *;

input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  &.search-filter {
    border: 0.8px solid gray;
  }
}
