@use '../abstracts/variables' as *;

input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 6px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  &.search-filter {
    border: 0.8px solid gray;
    padding-left: 38px;
  }
  &.input-add {
    border: 0.8px solid gray;
  }
}

input[type='date'] {
  border: 0.8px solid gray;
}

.search {
  position: relative;
  .icon-search {
    position: absolute;
    top: 10px;
    left: 13px;
    width: 17px;
  }
}
