.dashboard {
  margin-left: 280px;
  &.data {
    padding: 30px;
    background: white;
    max-width: 100%;
    border-radius: 10px;
    .filter {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr;
      gap: 12px;
      margin-bottom: 20px;
      &.filter-two {
        grid-template-columns: 4fr 1fr;
      }
    }
  }
}
