@use '../abstracts/variables' as *;

.wrapper-login {
  width: 100%;
  height: 100vh;
  display: flex;

  .left,
  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    background: white;
  }
  .right {
    background: $color-primary;
    form {
      min-width: 400px;
      .form-group {
        margin-bottom: 1rem;
        color: white;
        position: relative;
        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: 500;
        }
        .input-icon {
          position: relative;

          .eye-btn {
            position: absolute;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 7px;
            background: transparent;
          }
        }
      }
    }
  }
}

.login-failed {
  color: red;
  padding-top: 10px;
  font-size: 14px;
}
